    <div class="panel panel-default">
        <div class="panel-heading" style="padding: 2px 15px;">
            <h4>Connect. Socialize.</h4>
        </div>
        <div class="panel-body">
            <a href="https://github.com/armchairwizard" class="btn btn-primary btn-xs"><span class="fa fa-github-square fa-2x"></span></a>
            <a href="https://twitter.com/armchairwizard" class="btn btn-primary btn-xs"><span class="fa fa-twitter-square fa-2x"></span></a>
            <a href="https://plus.google.com/107641647190023137744" class="btn btn-primary btn-xs"><span class="fa fa-google-plus-square fa-2x"></span></a>
        </div>
    </div>
